This notebook will focus on reading the .csv data from our dataset, inspecting the data

In [42]:
import pandas as pd

DATA_PATH = "data/"
PICKLE_PATH = "pickled_data/"

In [43]:
game_plays = pd.read_csv(DATA_PATH+"game_plays.csv")
game_plays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050529 entries, 0 to 5050528
Data columns (total 18 columns):
 #   Column               Dtype
---  ------               -----
 0   play_id              object
 1   game_id              int64
 2   team_id_for          float64
 3   team_id_against      float64
 4   event                object
 5   secondaryType        object
 6   x                    float64
 7   y                    float64
 8   period               int64
 9   periodType           object
 10  periodTime           int64
 11  periodTimeRemaining  float64
 12  dateTime             object
 13  goals_away           int64
 14  goals_home           int64
 15  description          object
 16  st_x                 float64
 17  st_y                 float64
dtypes: float64(7), int64(5), object(6)
memory usage: 693.6+ MB

In [44]:
null_plays = game_plays.isna().sum()
null_plays

play_id                      0
game_id                      0
team_id_for             932705
team_id_against         932705
event                        0
secondaryType          3868513
x                      1134364
y                      1134333
period                       0
periodType                   0
periodTime                   0
periodTimeRemaining     193019
dateTime                     0
goals_away                   0
goals_home                   0
description                  0
st_x                   1134364
st_y                   1134364
dtype: int64

There are some significant missing data at a glance, however we know that this by design. Certain events are missing team info because they are "neutral" and don't pertain to a particular team. X, Y coords are not recorded for every event type, and secondaryType is only recorded for shot events.

In [45]:
game_plays['event'].value_counts()

event
Faceoff                     894041
Shot                        845164
Hit                         706096
Stoppage                    698342
Blocked Shot                431922
Missed Shot                 357214
Giveaway                    273287
Penalty                     247828
Takeaway                    211881
Goal                        148992
Period Start                 50140
Period Ready                 50073
Period Official              50067
Period End                   50067
Game End                     15033
Game Scheduled               15027
Game Official                 2351
Official Challenge            1470
Shootout Complete             1456
Early Intermission Start        35
Early Intermission End          35
Emergency Goaltender             8
Name: count, dtype: int64

Example of an event type without certain data by design:

In [46]:
game_plays[game_plays['event'] == 'Shootout Complete']

,play_id,game_id,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y
3202,2015020346_404,2015020346,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,300.0,2015-11-29 03:00:11,2,2,End of Shootout,NaN,NaN
5392,2016021020_331,2016021020,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,300.0,2017-03-14 03:51:56,3,3,End of Shootout,NaN,NaN
8176,2015020086_320,2015020086,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,300.0,2015-10-21 03:51:04,4,4,End of Shootout,NaN,NaN
13662,2017020930_355,2017020930,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,300.0,2018-02-23 02:47:48,3,3,End of Shootout,NaN,NaN
19595,2016020674_323,2016020674,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,300.0,2017-01-19 03:58:58,5,5,End of Shootout,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977055,2018021254_377,2018021254,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,0.0,2019-04-06 02:51:27,2,2,End of Shootout,NaN,NaN
4979264,2018021258_297,2018021258,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,0.0,2019-04-06 23:45:45,2,2,End of Shootout,NaN,NaN
4979677,2018021259_409,2018021259,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,0.0,2019-04-07 03:09:43,5,5,End of Shootout,NaN,NaN
4983998,2018021258_297,2018021258,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,0.0,2019-04-06 23:45:45,2,2,End of Shootout,NaN,NaN
4984408,2018021259_409,2018021259,NaN,NaN,Shootout Complete,NaN,NaN,NaN,5,SHOOTOUT,0,0.0,2019-04-07 03:09:43,5,5,End of Shootout,NaN,NaN

In [47]:
duplicate_plays = game_plays.groupby(['play_id'])['game_id'].count() > 1
duplicate_plays.value_counts()

game_id
False    3383597
True      833466
Name: count, dtype: int64

There is some duplication based on the play_id. We should attempt to drop duplicates with the same play_id, in the same game, happening at the same exact time.

In [48]:
subset_columns = ['play_id', 'game_id', 'dateTime']
game_plays = game_plays.drop_duplicates(subset=subset_columns, keep="first")

In [49]:
duplicate_plays = game_plays.groupby(subset_columns)['game_id'].count() > 1
duplicate_plays.value_counts()

game_id
False    4217063
Name: count, dtype: int64

With no more duplicates, we can take a look at the data we're most interested in, shots and goals

In [50]:
shots = game_plays[game_plays['event'] == "Shot"]
shots.head()

,play_id,game_id,team_id_for,team_id_against,event,secondaryType,x,y,period,periodType,periodTime,periodTimeRemaining,dateTime,goals_away,goals_home,description,st_x,st_y
4,2016020045_5,2016020045,16.0,4.0,Shot,Wrist Shot,-71.0,9.0,1,REGULAR,54,1146.0,2016-10-19 01:41:44,0,0,Artem Anisimov Wrist Shot saved by Michal Neuv...,71.0,-9.0
7,2016020045_8,2016020045,4.0,16.0,Shot,Wrist Shot,56.0,-7.0,1,REGULAR,69,1131.0,2016-10-19 01:42:41,0,1,Dale Weise Wrist Shot saved by Corey Crawford,56.0,-7.0
11,2016020045_12,2016020045,16.0,4.0,Shot,Slap Shot,-37.0,-24.0,1,REGULAR,133,1067.0,2016-10-19 01:43:45,0,1,Duncan Keith Slap Shot saved by Michal Neuvirth,37.0,24.0
16,2016020045_17,2016020045,4.0,16.0,Shot,Wrist Shot,57.0,-20.0,1,REGULAR,168,1032.0,2016-10-19 01:44:54,0,1,Wayne Simmonds Wrist Shot saved by Corey Crawford,57.0,-20.0
18,2016020045_19,2016020045,4.0,16.0,Shot,Slap Shot,34.0,14.0,1,REGULAR,171,1029.0,2016-10-19 01:45:01,0,1,Shayne Gostisbehere Slap Shot saved by Corey C...,34.0,14.0

In [51]:
shots['secondaryType'].value_counts()

secondaryType
Wrist Shot     362395
Slap Shot      131801
Snap Shot       99914
Backhand        56995
Tip-In          29572
Deflected        9418
Wrap-around      8246
Name: count, dtype: int64

In [52]:
shots['secondaryType'].isna().sum()

np.int64(24)

There are very few missing shots, we can fill them with the mode 'Wrist Shot'

In [68]:
shot_mask = game_plays['event'] == 'Shot'
game_plays.loc[shot_mask, 'secondaryType'] = game_plays.loc[shot_mask, 'secondaryType'].fillna('Wrist Shot')

In [71]:
game_plays[shot_mask]['secondaryType'].isna().sum()

np.int64(0)

With the missing values for secondaryType populated, this data is ready to go!

In [72]:
game_plays.to_pickle(PICKLE_PATH + "game_plays")